/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    line-height: 1.5;
}
.service{
    background-color: rgb(224, 231, 126,0.667);
}
.contact{
    background-color: rgba(247, 184, 113, 0.456);
}
.home{
    background-color:rgba(236, 218, 159, 0.6);
}
.About{
    background-color: lightgrey;
}
h1{
    font-size: 40px;
    font-weight: bolder;
    color:blanchedalmond;
    margin-bottom: 25px;
}
h2{
    font-size: 34px;
    font-weight: 700;
    color: rgba(82, 179, 211, 1);
    margin-bottom: 30px;
}
p{
    font-size: 24px;
    margin-top:  30px; 
    margin-bottom: 30px;
}
header{
    background-color:rgba(67,199,140,0.678);
    text-align: center;
    margin-bottom: 60px;
}
h4{
    font-size:29px ;
    font-weight:600;
    color: #251425c0;
}
.bkclr{
     background-color: rgba(47, 170, 226, 0.589);
     text-align: center;
     padding: 7px;
     

}
.center{
    text-align: center;
}
article{
    margin-bottom: 60px;

}